In [14]:
import pandas as pd

In [15]:
#get all the files under the products folder
import os
folder_path = 'Products'  # Replace with the actual path to your "products" folder
# Get all file names in the folder
file_names = [f for f in os.listdir(folder_path) if os.path.isfile(os.path.join(folder_path, f))]
# Print the list of file names
for file_name in file_names:
    print(file_name)

10-12-2023_2338_DreamWareTech.csv
10-12-2023_2347_rebeltech.csv
11-12-2023_0705_evetech.csv
11-12-2023_0924_takealot.csv
12-12-2023_2245_wootware.csv

In [16]:
wootware = pd.read_csv('Products/newProducts/10-12-2023_2347_rebeltech.csv')

dwt = pd.read_csv('Products/newProducts/10-12-2023_2338_DreamWareTech.csv')

In [17]:
wootware.head()

,Title,Price,In Stock,Category
0,AMD Ryzen 3 4100 Renoir 4-Core 3.80GHz AM4 65W...,1572.49,True,CPU
1,AMD Ryzen 3 4300G Renoir 4-Core 3.80GHz AM4 65...,2259.49,True,CPU
2,AMD Ryzen 5 3600 Matisse 6-Core 3.60GHz AM4 65...,1787.49,False,CPU
3,AMD Ryzen 5 4500 Renoir 6-Core 3.60GHz AM4 65W...,1753.99,True,CPU
4,AMD Ryzen 5 4600G Renoir 6-Core 3.70GHz AM4 65...,2261.99,True,CPU

In [18]:
dwt.head()

,Title,Price,In Stock,Category
0,intel i9 14900kf 6 0ghz 24 core 32 thread lga ...,13419.0,True,CPU
1,intel i5 14600k 5 3ghz 14 core 20 thread lga 1...,7659.0,True,CPU
2,intel i9 14900k 6 0ghz 24 core 32 thread lga 1...,14049.0,True,CPU
3,intel i7 14700k 5 6ghz 20 core 28 thread lga17...,10089.0,True,CPU
4,intel i5 14600kf 5 3ghz 14 core 20 thread lga1...,7039.0,True,CPU

In [19]:
def calculate_similarity(title1, title2):
    title1 = title1.lower().strip()
    title2 = title2.lower().strip()

    punc = '''!()-[]{};:'"\,<>./?@#$%^&*_~'''
 
    for ele in title1:
        if ele in punc:
            title1 = title1.replace(ele, "")

    for ele in title2:
        if ele in punc:
            title2 = title2.replace(ele, "")

    sim_count = 0
    for word in title1.split():
        if word in title2:
            sim_count += 1

    len_ = max(len(title1.split()), len(title2.split()))
    return sim_count/ len_ * 100

In [20]:
def get_match(title, cate, df):
    max_sim = -100
    max_sim_title = ''
    getDf = df.loc[df['Category'] == str(cate)]
    for df_title in getDf['Title']:
        sim = calculate_similarity(title, df_title)
        if sim > max_sim:
            max_sim = sim
            max_sim_title = df_title

    return max_sim_title, max_sim

In [21]:
# count = 0
# for i in range(len(dwt)):
#     match = get_match(dwt.iloc[i]['Title'], dwt.iloc[i]['Category'], wootware)
#     if match[1] < 65:
#         continue
#     else:
#         print("WOOTWARE : " + match[0])
#         print("DWT : " + dwt.iloc[i]['Title'])
#         print(str(match[1]) + "\n")
#         count += 1

In [22]:
# print("Total matches : " + str(count))
# print("Total products dreanware: " + str(len(dwt)))
# print("Total products wootware: " + str(len(wootware)))

NameError: name 'count' is not defined

In [23]:
import pandas as pd
from name_matching.name_matcher import NameMatcher

# define a dataset with computer parts names from wootware
wootware_a = wootware

# define a dataset with computer parts names from dreamwaretech
dwt_a = dwt

# initialise the name matcher
matcher = NameMatcher(number_of_matches=1, 
                      legal_suffixes=True, 
                      common_words=False, 
                      top_n=50, 
                      verbose=True)

# adjust the distance metrics to use
matcher.set_distance_metrics(['bag', 'typo', 'refined_soundex','discounted_levenshtein'])

# load the data to which the names should be matched
matcher.load_and_process_master_data(column='Title',
                                     df_matching_data=wootware_a, 
                                     transform=True)

# perform the name matching on the data you want matched
matches = matcher.match_names(to_be_matched=dwt_a, 
                              column_matching='Title')

# combine the datasets based on the matches
combined = pd.merge(wootware_a, matches, how='left', left_index=True, right_on='match_index')
combined = pd.merge(combined, dwt_a, how='left', left_index=True, right_index=True)

preprocessing...

preprocessing complete
 searching for matches...

100%|██████████| 1/1 [00:00<00:00,  4.72it/s]

possible matches found
 fuzzy matching...

100%|██████████| 2221/2221 [58:44<00:00,  1.59s/it]

done

In [24]:
combined

,Title_x,Price_x,In Stock_x,Category_x,original_name,match_name,score,match_index,Title_y,Price_y,In Stock_y,Category_y
0.0,intel core i914900k raptor lake 24core 320ghz ...,14449.49,False,CPU,intel i9 14900kf 6 0ghz 24 core 32 thread lga ...,intel core i914900k raptor lake 24core 320ghz ...,60.400817,83,intel i9 14900kf 6 0ghz 24 core 32 thread lga ...,13419.0,True,CPU
1.0,intel core i514600k raptor lake 14core 350ghz ...,7873.49,True,CPU,intel i5 14600k 5 3ghz 14 core 20 thread lga 1...,intel core i514600k raptor lake 14core 350ghz ...,61.525723,50,intel i5 14600k 5 3ghz 14 core 20 thread lga 1...,7659.0,True,CPU
2.0,intel core i914900k raptor lake 24core 320ghz ...,14449.49,False,CPU,intel i9 14900k 6 0ghz 24 core 32 thread lga 1...,intel core i914900k raptor lake 24core 320ghz ...,61.817460,83,intel i9 14900k 6 0ghz 24 core 32 thread lga 1...,14049.0,True,CPU
3.0,intel core i711700 rocket lake 8core 250ghz lg...,9313.99,True,CPU,intel i7 14700k 5 6ghz 20 core 28 thread lga17...,intel core i711700 rocket lake 8core 250ghz lg...,59.319657,52,intel i7 14700k 5 6ghz 20 core 28 thread lga17...,10089.0,True,CPU
4.0,intel core i513600 raptor lake 14core 200ghz l...,7202.49,False,CPU,intel i5 14600kf 5 3ghz 14 core 20 thread lga1...,intel core i513600 raptor lake 14core 200ghz l...,59.451000,47,intel i5 14600kf 5 3ghz 14 core 20 thread lga1...,7039.0,True,CPU
...,...,...,...,...,...,...,...,...,...,...,...,...
NaN,xtrfy b4 black xgb4black mouse bungee,219.00,True,Accessories,NaN,NaN,NaN,3167,NaN,NaN,NaN,NaN
NaN,xtrfy b4 blue xgb4blue mouse bungee,219.00,True,Accessories,NaN,NaN,NaN,3168,NaN,NaN,NaN,NaN
NaN,xtrfy b4 pink xgb4pink mouse bungee,219.00,True,Accessories,NaN,NaN,NaN,3169,NaN,NaN,NaN,NaN
NaN,xtrfy b4 retro xgb4retro mouse bungee,219.00,True,Accessories,NaN,NaN,NaN,3170,NaN,NaN,NaN,NaN
NaN,xtrfy b4 white xgb4white mouse bungee,219.00,True,Accessories,NaN,NaN,NaN,3171,NaN,NaN,NaN,NaN

In [25]:
combined.to_csv('combined.csv', index=False)

In [ ]:
newcombine = combined
newcombie = newcombine.dropna(subset=['match_index'])